.progress_bar {
    position: relative;
    margin: 100px 200px;
    height: 10px;
    width: 1040px;
    background-color: rgb(255, 139, 255);
    border-radius: 10px;
}

.progress_circle {
    position: absolute;
    background-color: rgb(61, 11, 61);
    height: 20px;
    width: 20px;
    border-radius: 15px;
    top: -5px;
}

.btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}